body, html{
    margin: 0;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(0, 0, 0);
}
.calc-body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 2%;
}

.calc{
    width: 320px;
    max-width: 320px;
    padding: 8px;
    border-radius: 8px;
    border: 6px solid rgb(221, 221, 221);
    border-radius: 44px;
    margin: 16px;
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    /*background-color: rgb(83, 80, 80);*/
    background-color: black;

}

.header{
    color: white;
    display: flex;
    margin-top: 6px;
    justify-content: space-between;
    width: 90%;
}
.screen{
    background-color: rgb(0, 0, 0);
    color: white;
    width: 90%;
    padding: 48px 10px 0px 10px;

    overflow-x: scroll;
    overflow-y: hidden;

    margin: auto;
    margin-top: 32px;
    margin-bottom: 8px;
    height: 80px;

    font-size: 64px;
    text-align: right;
}

::-webkit-scrollbar {
    width: 1px;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(47, 78, 55, 0.425);
    border-radius: 8px;
}





.button-location{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.calc-button{
    padding: 15px;
    font-weight: 900;
    border-radius: 32px;
    margin: 4px;
    height: 40px;
    width: 40px;
    font-size: 25px;
    line-height: 40px;
    text-align: center;
    color: white;
}


.blue{
    background-color: rgb(167, 166, 166);
    color: black;
}
.orange{
    background-color: rgb(207, 131, 39);
}
.green{
    background-color: rgb(49, 49, 49);
    color: white;
}


.blue:hover{
    background-color: rgba(58, 122, 178, 0.671);
    cursor:pointer;
}
.orange:hover{
    background-color: rgb(166, 110, 41, 0.671);
    cursor:pointer;
}
.green:hover{
    background-color: rgba(53, 116, 88, 0.671);
    cursor:pointer;
}

.bar{
    color: white;
    margin-top: 20px;
}

#screen-52{
    font-size: 52px;
    line-height: 70px;
}
#screen-40{
    font-size: 40px;
    line-height: 76px;
}
#screen-28{
    font-size: 28px;
    line-height: 82px;
}   
#screen-64{
    font-size: 64px;
}