body, html{
    margin: 0;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(245, 210, 164);
}
.calc-body{
    display: flex;
    justify-content: center;
    align-items: center;
}
.calc{
    width: 420px;
    padding: 8px;
    border-radius: 8px;
    border: 8px solid grey;
    margin: 16px;
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: rgb(83, 80, 80);
}
.screen{
    background-color: rgb(68, 161, 92);
    width: 90%;
    padding: 0px 10px 0px 10px;

    overflow-x: scroll;
    overflow-y: hidden;

    margin: auto;
    margin-top: 12px;
    margin-bottom: 8px;
    height: 80px;

    font-size: 64px;
    text-align: right;
}

::-webkit-scrollbar {
    width: 1px;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(47, 78, 55, 0.425);
    border-radius: 8px;
}





.button-location{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.calc-button{
    padding: 25px;
    font-weight: 900;
    border-radius: 8px;
    margin: 2px;
    height: 40px;
    width: 50px;
    font-size: 25px;
    line-height: 40px;
    text-align: center;
    color: white;
}


.blue{
    background-color: rgb(58, 122, 178);
}
.orange{
    background-color: rgb(166, 110, 41);
}
.green{
    background-color: rgb(53, 116, 88);
}


.blue:hover{
    background-color: rgba(58, 122, 178, 0.671);
    cursor:pointer;
}
.orange:hover{
    background-color: rgb(166, 110, 41, 0.671);
    cursor:pointer;
}
.green:hover{
    background-color: rgba(53, 116, 88, 0.671);
    cursor:pointer;
}